header img {
  width: 5.6rem;
  height: 6.6rem;
  vertical-align: middle;
}

#specialization img {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

#faction img {
  border-radius: 5rem;
  width: 20rem;
  height: 20rem;
}

#affix img {
  border-radius: 50%;
  margin: 0 .2rem;
  width: 3rem;
  height: 3rem;
}

#graphic img {
  vertical-align: middle;
  border: .3rem solid $black;
  border-radius: .5rem;
  display: inline-block;
  margin-left: .2rem;
  height: 2.3rem;
  width: 2.3rem;
}

#detail span + img {
  float: right;
}