h1 {
  display: inline-block;
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

aside h2 {
  font-size: 2.5rem;
  margin: 1rem;
}

h2, h3 {
  color: $orange;
  margin: 0;
}

div h2, div h3 {
  font-size: 1.7rem;
  background-color: $grey;
  padding: 0 .6rem;
  position: absolute;
  top: -1.1rem;
  left: 1.1rem;
}

#detail h4 {
  color: $orange;
  font-weight: bold;
  min-width: max-content;
  margin: 0;

  span {
    line-height: 2.9rem;
    margin: 0 .5rem;
  }
}